.env

data/raw/*
!data/raw/.gitkeep
data/cache/*
!data/cache/.gitkeep
data/gis/*
!data/gis/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/out/*
!data/out/.gitkeep

plots/*
!plots/.gitkeep

.Rproj.user
.Rhistory
.RData
.Ruserdata

node_modules
.dropbox

.DS_Store
Icon
Icon\r
"Icon\r"

